<header>
    <nav>
        <ul class="main-menu">
            <li><a routerLink="/main">Main</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
    <div class="logo">
        <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
        <span>TasksToDo</span>
    </div>
    <nav>
        <ul class="main-menu">
            <!-- <li><a href="#">Create</a>
                <ul class="sub-menu">
                    <li><a href="#">Desktop</a></li>
                </ul>
            </li> -->
            <li><a href="/desktop">Desktops</a>
                <ul class="sub-menu">
                    <li *ngFor="let desk of currDesktops">
                        <a href="javascript:;" (click)="changeDesktop(desk)"> {{ desk.name }} </a>
                    </li>
                    <li><a href="javascript:;"> New </a></li>
                </ul>
            </li>
            <li><a href="#">Settings</a>
                <ul class="sub-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Backgrounds</a></li>
                    <li><a href="javascript:;" (click)="logOut()">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>