

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
}

.logo span {
  font-family: 'Remachine Script', Arial, sans-serif;
  font-size: 38px;
  padding-left: 5px;
  cursor: default;
}

li {
  display: inline-block;
  width: 150px;
  word-wrap: break-word;
}

.main-menu {
  padding: 0 10px;
  margin: auto;
}

.main-menu>li {
  position: relative;
}

.main-menu a,
.sub-menu a {
  color: black;
  font-family: 'Monoglyceride', Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  width: inherit;
  text-align: center;
}

.main-menu>li:not(:first-child) {
  border-left: 1px solid black;
}

ul {
  padding: 0;
}

.main-menu a:hover,
.sub-menu a:hover {
  color: white;
}

.sub-menu {
  padding-top: 11px;
  width: inherit;
  position: absolute;
  top: 23px;
  left: 0;
  display: none;
  z-index: 10;
}
.sub-menu li{
  padding: 2px 0;
}
.sub-menu a {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.main-menu li:hover .sub-menu {
  display: block;
}
