<app-header></app-header>
<p>A little guide</p>
<div class="slider">
  <div class="sliderItem">
    <img src={{currImage[0]}} alt={{currImage[1]}}>
    <div class="text"> {{ currImage[1] }} </div>
  </div>
  <a class="prev" (click)="nextSlide(-1)">&#10094;</a>
  <a class="next" (click)="nextSlide(1)">&#10095;</a>
</div>
<div class="dots">
  <span class="dot dot{{i}}" *ngFor="let item of imagesAndCaptions; index as i" 
  (click)="changeSlide(i)" [ngClass]="currSlide==i ? 'active' : null"></span> 
</div>