<app-header></app-header>

<div class="carousel-wrapper">
  <div class="carousel">
    <img class="carousel__photo initial" src="https://wallpaperaccess.com/full/109676.jpg">
    <img class="carousel__photo" src="https://i.pinimg.com/originals/52/96/7e/52967e9aee1c617cb0668d3ef1704eba.jpg">
    <img class="carousel__photo" src="https://i.pinimg.com/originals/3e/2a/f6/3e2af664e061013a3d05aa99fa20c1d4.jpg">
    <img class="carousel__photo" src="https://images3.alphacoders.com/104/thumb-1920-1042283.png">
    <img class="carousel__photo" src="https://wallpaperaccess.com/full/215112.jpg">

    <div class="carousel__button--next"></div>
    <div class="carousel__button--prev"></div>
  </div>
</div>