.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortAndFilter {
  align-self: flex-end;
  padding-right: 160px;
  position: relative;
}

.sortAndFilter i {
  font-size: 1.3rem;
}

.fa-sort:hover+.sub-sort,
.sub-sort:hover {
  display: block;
}

.fa-filter:hover+.sub-filter,
.sub-filter:hover {
  display: block;
}

.sub-sort,
.sub-filter {
  padding: 5px 0;
  position: absolute;
  top: 20px;
  left: -10px;
  display: none;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 7px;
  font-family: 'Monoglyceride', Arial, sans-serif;
  font-size: 18px;
  list-style-type: none;
}

.sortAndFilter li {
  width: 100%;
}

.sortAndFilter li:hover {
  background-color: rgb(204, 204, 204);
}

.sortAndFilter a {
  text-decoration: none;
  color: black;
  padding-left: 7px;
  transition: 0.3s;
  height: 30px;
}

.sub-sort i,
.sub-filter i {
  margin: 0;
}

.mat-checkbox p {
  font-family: 'Monoglyceride', Arial, sans-serif;
  font-size: 18px;
  display: inline-block;
  padding: 3px 3px;
  margin: 0;
  cursor: default;
}

.mat-checkbox {
  padding-left: 7px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: 1px solid black;
  background-color: #ffffff;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(44, 40, 40) !important;
}

.desktop {
  width: 90%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  font-family: 'Monoglyceride', Arial, sans-serif;
  font-size: 23px;
  margin: 20px 0 0 0;
  padding-bottom: 15px;
}

.deskName {
  font-family: 'Monoglyceride', Arial, sans-serif;
  font-weight: bold;
  font-size: 23px;
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  margin: 1px 0 5px 10px;
}

.deskOwner {
  padding-left: 10px;
}

.deskName:focus {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.deskHeader {
  display: flex;
  justify-content: space-between;
}

i {
  margin: 10px;
  padding: 5px 5px 2px;
  cursor: pointer;
  font-size: 0.9rem;
}


i:hover :not(.fa-minus) {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.task {
  width: 95%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 15px;
  text-align: left;
  padding: 4px 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
  word-wrap: break-word;
  margin: 3px auto;
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  cursor: pointer;
}

.taskName {
  width: 55%;
  /* background-color: aquamarine; */
}

.taskStatus {
  width: 20%;
  /* background-color: rgb(28, 65, 52); */
}

.taskReadiness {
  width: 20%;
  /* background-color: rgb(20, 175, 123); */
  text-align: right;
}

.fa-minus {
  color: red;
  display: none;
  position: absolute;
  margin: 0;
  cursor: pointer;
  right: 13px;
}

.task:hover .fa-minus {
  display: inline-block;
}
