<app-header></app-header>
<div class="main">
    <div class="sortAndFilter">
        <i class="fas fa-sort"></i>
        <ul class="sub-sort">
            <li><a href="javascript:;" (click)="orderBy('adding')"> By adding <i class="far fa-clock"></i></a></li>
            <li><a href="javascript:;" (click)="orderBy('downDeskname')"> By desktop name <i
                        class="fas fa-sort-alpha-down"></i></a></li>
            <li><a href="javascript:;" (click)="orderBy('upDeskname')"> By desktop name <i
                        class="fas fa-sort-alpha-down-alt"></i></a></li>
            <li><a href="javascript:;" (click)="orderBy('downDeskOwnerName')"> By desktop owner name <i
                        class="fas fa-sort-alpha-down"></i></a></li>
            <li><a href="javascript:;" (click)="orderBy('upDeskOwnerName')"> By desktop owner name <i
                        class="fas fa-sort-alpha-down-alt"></i></a></li>
            <li><a href="javascript:;" (click)="orderBy('toBiggerTaskAmount')"> By task amount <i
                        class="fas fa-sort-amount-down-alt"></i></a></li>
            <li><a href="javascript:;" (click)="orderBy('toSmallerTaskAmount')"> By task amount <i
                        class="fas fa-sort-amount-down"></i></a></li>
        </ul>
        <i class="fas fa-filter"></i>
        <ul class="sub-filter">
            <li *ngFor="let item of userIdBoolean; index as i" class="check">
                <mat-checkbox [(ngModel)]="userIdBoolean[i][1]" (change)="filterDesktops()">
                    <p> {{ getUsernameById(userIdBoolean[i][0]) }} </p>
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox [(ngModel)]="done100" (change)="filterDesktops()">
                    <p> Done 100% </p>
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox [(ngModel)]="done0" (change)="filterDesktops()">
                    <p> Done 0% </p>
                </mat-checkbox>
            </li>
        </ul>
    </div>
    <!-- <div class="desktop" *ngFor="let desk of currDesktops | paginate: { itemsPerPage: 2, currentPage: p }"> -->
    <div class="desktop" *ngFor="let desk of currDesktops">
        <div class="deskHeader">
            <div>
                <input class="deskName" [(ngModel)]="desk.name" (blur)="deskService.saveDesktops()">
                <span class="deskOwner">{{ getDeskOwnerByDesk(desk) }}</span>
            </div>
            <div>
                <i class="fa fa-plus" (click)="addTask(desk.id)"></i>
                <i class="fas fa-trash-alt" (click)="deleteDesk(desk.id)"></i>
            </div>
        </div>
        <div class="task" *ngFor="let task of desk.tasks" (click)="openTaskOverview(desk, task.id)">
            <div class="taskName">{{ task.name }}</div>
            <div class="taskStatus">{{ Status[task.status] }}</div>
            <div class="taskReadiness">{{ roundNumber(task.readiness) || 0}}%</div>
            <i class="fas fa-minus" (click)="deleteTask(desk.id, task.id)"></i>
        </div>
    </div>
    <!-- <pagination-controls  
    (pageChange)="p = $event"
    autoHide="true"
    previousLabel="Previous page"
    nextLabel="Next page"></pagination-controls> -->
    <div class="pagination">
        <a href="javascript:;" (click)="prevPage()"><i class="fas fa-angle-left"></i> Previous page</a>
        <a href="javascript:;" *ngFor="let p of pageArray" class="page" (click)="changePage(p)">  {{ p }} </a>
        <a href="javascript:;" (click)="prevPage()">Next page <i class="fas fa-angle-right"></i></a>    
    </div>
</div>