/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: "Remachine Script";
  src: url(../src/assets/fonts/RemachineScript_Personal_Use.ttf);
}

@font-face {
  font-family: "Monoglyceride";
  src: url(../src/assets/fonts/Monoglyceride.ttf);
}

.bg-img {
  background-position: center;
  background-size: cover;
  margin: 0;
}

.bg_0 {
  background-image: url(assets/images/bg_0.jpg);
}

.bg_1 {
  background-image: url(assets/images/bg_1.jpg);
}

.bg_2 {
  background-image: url(assets/images/bg_2.jpg);
}

.bg_3 {
  background-image: url(assets/images/bg_3.jpg);
}

.bg_4 {
  background-image: url(assets/images/bg_4.jpg);
}

.bg_5 {
  background-image: url(assets/images/bg_5.jpg);
}

.bg_6 {
  background-image: url(assets/images/bg_6.jpg);
}

.bg_7 {
  background-image: url(assets/images/bg_7.jpg);
}

.bg_8 {
  background-image: url(assets/images/bg_8.jpg);
}

.bg_9 {
  background-image: url(assets/images/bg_9.jpg);
}

.bg_10 {
  background-image: url(assets/images/bg_10.jpg);
}

.bg_11 {
  background-image: url(assets/images/bg_11.jpg);
}

.bg_12 {
  background-image: url(assets/images/bg_12.jpg);
}

.bg_13 {
  background-image: url(assets/images/bg_13.jpg);
}
