<app-header></app-header>
<div class="main">
    <div class="creator">
        <p>You can contact with me here:</p>
        <a href="tg://resolve?domain=<@KaterinaBoiko>">
            <i class="fab fa-telegram"></i>
            <p class="contact">@KaterinaBoiko</p>
        </a>
        <a href="https://www.linkedin.com/feed/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
            <p class="contact">Kateryna Boiko</p>
        </a><br>
        <a href="https://github.com/KaterinaBoiko" target="_blank">
            <i class="fab fa-github"></i>
            <p class="contact">Katia Boiko</p>
        </a>
        <a href="https://www.facebook.com/katia.boiko16?ref=bookmarks" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="contact">Katia Boiko</p>
        </a>
    </div>
    <div class="map">
        <p>You can find me somewhere here:</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5998.8407715309095!2d30.45693283431728!3d50.450811067941274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce82b9bc8a47%3A0x47514e5d91216bf3!2sKiev%20Polytechnic%20Institute!5e0!3m2!1sru!2sua!4v1573420064717!5m2!1sru!2sua"
            frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>

</div>